{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block top-navbar %}
{% endblock %}

{% block extrahead %}
<style type="text/css">
  body {
    background-color: #4154B3;
  }
</style>
{% endblock %}

{% block inner %}


<div class="login-content">
  {% include 'account/title.html' %}
  

  <div>
      <p class="text-center">
          {% trans 'Lo sentimos, su usuario ya posee una sesión activa. Por favor cierre la sesión anterior o espere 30 minutos y vuelva a intentarlo.' %}
      </p>
      <p class="text-center">
          <a href="{% url 'account_login' %}">{% trans 'Iniciar sesión' %}</a>
      </p>
  </div>

</div>

{% endblock %}


{% block bottom-navbar %}
{% endblock %}
