{% extends "base_new.html" %}
{% load i18n static %}
{% load duration course_price %}

{% trans 'Cursos' as cursos_str %}
{% trans 'Volver a los cursos' as volver_str %}

{% block content %}
    <div class="container">
    <div class="media">
      <a href="{% url 'course' object.slug %}">
          <img class="align-self-start mr-3 course-list-thumb" src="{% if object.image %}{{ object.course_list_thumbnail.url }}{% else %}holder.js/55x55{% endif %}" alt="{{object.title}}">
      </a>
      <div class="media-body">
        <h5 class="flex-fill">{{object.title}}</h5>
        {% if course_data.enrollment.is_complete %}
          <p class="diploma-download"><a href="{% url 'view-diploma' course_data.enrollment.id %}"><i class="fas fa-user-graduate"></i> - {% trans 'Descargar constancia' %}</a></p>
        {% endif %}

        <p class="descripcion-curso">{{object.description}}</p>

        {% if object.tutor %}

          <span class="course-tutor">{% trans 'Tutor' %}: {{object.tutor.name}} {{object.tutor.last_name}} | ({{ object.tutor.email }}) {% if settings.MOSTRAR_PRECIO_CURSO %}| Costo:{{ object|price }}{% endif %} </span>
          <a href="{% url 'mensajes:iniciar_conversacion_preselect' object.id %}" target="blank_" class="mb-2 course-tutor-mail">
            <i class="fas fa-envelope"></i> {% trans 'Enviar mensaje' %}
          </a>
        {% endif %}

        {% if course_data.next_segment %}
            <p>
                <a href="{% if not course_data.next_segment.is_enabled %}#{% else %}{{ course_data.next_url }}{% endif %}"
                {% if not course_data.next_segment.is_enabled %}
                    data-toggle="modal"
                    data-target="#notEnabledModal{{ course_data.next_segment.id }}"
                {% endif %}>
                    {% if course_data.enrollment %}
                        {% if course_data.enrollment.is_complete %}
                            {% trans 'Repasar' %}
                        {% else %}
                            {% trans 'Continuar' %}
                        {% endif %}
                    {% else %}
                        {% trans 'Iniciar' %}
                    {% endif %}
                </a>
            </p>
        {% endif %}
      </div>
    </div>
    {% include 'cursos/course_videos_list.html' %}
    <hr>

    <div class="row mt-5">
        <div class="col"></div>
        <div class="col text-center">
            {% url 'enrolled_courses' as courses_url %}
            {% include 'cursos/icon_button.html' with url=courses_url title=cursos_str tooltip=volver_str icon="fa-book-reader" extra_style="font-size: 2.5rem;" %}
        </div>
        <div class="col"></div>
    </div>
{#    <div class="row mt-1">#}
{#        <p><a href="{% url 'cursos' %}"><i class="fas fa-angle-double-left"></i> Volver a los cursos</a></p>#}
{#    </div>#}
    </div>
  
{% endblock %}
{% block extrajavascript %}
  {% include 'cursos/js_courses.html' %}
  <script>
    {% for video,tracking in course_data.videos.items %}
      {% if video.order == 1 or course_data.enrollment.next_allowed_video.order >= video.order %}
          {% if video.is_enabled %}
            $('#video-thumb-link-{{video.id}}').click(function() {
                {% if video.type_of_segment == video.VIDEO %}
                  window.location.href = "{% url 'video' course=video.course.slug order=video.order %}";
                {% elif video.type_of_segment == video.SLIDES %}
                  window.location.href = "{% url 'slide' course=video.course.slug order=video.order %}";
                {% elif video.type_of_segment == video.GENIALLY %}
                    window.location.href = "{% url 'genially' course=course.slug order=video.order as segment_url %}"
                {% elif video.type_of_segment == video.GENERIC %}
                    window.location.href = "{% url 'generic' course=course.slug order=video.order as segment_url %}"
                {% endif %}
            });
          {% else %}
              $('#video-thumb-link-{{video.id}}').click(function() {
                  $('#notEnabledModal{{video.id}}').modal('show');
              });
          {% endif %}
      {% else %}
        $('#video-thumb-link-{{video.id}}').click(function(e) { e.preventDefault(); /* no hacer nada */ });
      {% endif %}
      pending_downloads[{{video.id}}] = new Set({{tracking.get_pending_downloads}});
      has_questionnaire[{{video.id}}] = {% if video.has_questions %}true{% else %}false{%endif%};
    {% endfor %}
  </script>
{% endblock %}