{% load randint %}
{% if segments %}
    {% random_number 8 as random_id %}
<div class="collapse-card card">
    <div class="card-header">
        <h2 class="mb-0">
            <i class="fas fa-caret-down collapse-card-icon" data-toggle="collapse" data-target="#transmisionesCollapse-{{ random_id }}" aria-expanded="true"></i>
            <span class="collapse-card-title">{{title}}</span>
        </h2>
    </div>

    <div id="transmisionesCollapse-{{ random_id }}" class="collapse show">
        <div class="card-body">
            <div class="row col mt-1">
                <div class="transmision-scroll">
                    {% for segment in segments %}
                        <div class="course-thumb transmision-thumb mr-1">
                            <a href="{{ segment.get_object_url }}" style="display: inline-block;">
                                <img src="{% if segment.thumbnail_url %}{{ segment.thumbnail_url }}{% else %}holder.js/70x70{% endif %}" class="img-thumbnail img-fluid rounded-circle z-depth-0 {% if segment.is_broadcasting_now %}live{% endif %}">
                                <div class="transmision-title">{{segment.title}}</div>
                                {% if not segment.is_broadcasting_now %}
                                    <span class="transmision-date">
                                        {{segment.transmision_date|date:"d/m"}} - {{segment.transmision_date|date:"H:i"}}
                                    </span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
