{% extends "account/email/email_base.html" %}
{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% block body %}
{% autoescape off %}
    {% blocktrans %}
	¡Saludos de {{ current_site.name }}!
	<br><br>
	Estás recibiendo este correo electrónico porque usted u otra persona ha solicitado una contraseña para su cuenta de usuario.
	Se puede ignorar de forma segura si no solicitó un reestablecimiento de contraseña. Haga click en el siguiente enlace para reestablecer su contraseña:
	<br><br>
	<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
	<br><br>
	¡Gracias de parte de {{ current_site.name }}!
    {% endblocktrans %}
{% endautoescape %}
{% endblock %}