<ng-template #componentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Diapositiva</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal();modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup">
            <label for="">Imagen</label>
            <div [hidden]="!imgLink">
                <img src="{{imgLink}}" class="imagen_url"/>
            </div>
            <input type="file" class="form-control" (change)="uploadDocument($event)" accept=".png, .jpg, .jpeg, .gif"/>
            <div [hidden]="!getValidity('image')" class="validation-error">
                {{ getErrors('image') }}
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="save()">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="onCloseModal();modal.dismiss()">Cancelar</button>
    </div>
</ng-template>
