{% extends "admin_light/base_site.html" %}
{% load static %}

{% block content %}


    <div class="btn-group mb-1" role="group" style="float:right;">
        <button type="button" class="btn btn-success" onclick="window.location='{% url 'admin:course-admin-create' %}';"><i class="fas fa-plus"></i></button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Slug</th>
            <th scope="col">Tutor</th>
            <th scope="col">Inicio</th>
            <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {% for cur in courses_list %}
                <tr class="courses-list-tr" onclick="window.location='{% url 'admin:course-admin-update' cur.id %}';">
                    <th scope="row">{{cur.order}}</th>
                    <td>{{cur.title}}</td>
                    <td>{{cur.slug}}</td>
                    {% if cur.tutor %}
                        <td>{{cur.tutor.name}} {{cur.tutor.last_name}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{cur.start_date}}</td>
                    <td>
                        <i class="fas fa-clone clone-course" title="Clonar" onclick="event.stopPropagation();clone('{{cur.title}}', '{{cur.id}}')"></i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div id="course-list-pagination">
            {% if page_obj.has_previous %}
                <a class="btn btn-primary" href="{{request.path}}?page={{ page_obj.previous_page_number }}">
                    < Anterior
                </a>
            {% else %}
                <button class="btn btn-primary white-text" disabled>< Anterior</button>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-primary" href="{{request.path}}?page={{ page_obj.next_page_number }}">
                    Siguiente >
                </a>
            {% else %}
                <button class="btn btn-primary" disabled>Siguiente ></button>
            {% endif %}
        </div>
    {% endif %}
    
    <form method="POST" action="{% url 'admin:clone_course' %}" id="cloneForm">
        {% csrf_token %}
        <input type="hidden" name="c" id="inputClone" value=""/>
    </form>
    <script>
        function clone(title, id) {
            let result = confirm(`¿Desea clonar el curso ${title}?`)
            if(result) {
                $("#inputClone").val(id);
                document.getElementById('cloneForm').submit();
            }
        }
    </script>

{% endblock %}